    .row {
      --bs-gutter-x: 0rem;
    }

    @media only screen and (min-width: 1200px) {
      .login-bg {
        margin-top: 10%;
      }
    }

    @media only screen and (max-width: 1200px) {
      .login-bg {
        margin-top: 30%;
      }
    }

    .login-bg {
      background-color: #00000080;
    }

    .login-bg .btn {
      text-align: center;
    }

    label {
      color: #00bad3;
    }